<!-- <h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
 -->


 <div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="form-standard">
        <h2><i class="fa fa-user"></i> Se connecter</h2>
        <hr>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true, placeholder: "bob@gmail.com" %>
          <%= f.input :password,label: 'Mot de passe', required: false, placeholder: "••••••" %>
          <%= f.input :remember_me,label: 'Se souvenir de moi', as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Connexion", class: "btn btn-success", style: "width:100%; margin-bottom:15px;" %>
        </div>
        <!-- <%= render "devise/shared/links" %> -->
        <% end %>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
