<div class="container my-5 form-standard">
  <h2><i class="fa fa-pen"></i> Modification de poste</h2>
  <hr>
  <%= form_for(@post) do |f| %>
    <div class="form-group">
      <%= f.label :titre %>
      <%= f.text_field :titre, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :titre_secondaire %>
      <%= f.text_field :titre_secondaire, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.text_field :image, class: 'form-control' %>
    </div>

    <%= f.submit "Mettre à jour ce poste",class: 'btn btn-flat' %>
  <% end %>
</div>
